<mat-card class="cardview">
  <mat-card-title class="title">Create Contact</mat-card-title>
  <mat-icon class="close-icon" mat-dialog-close>close</mat-icon>
  <mat-card-content>
    <div class="row">
      <div class="personal">
        <button mat-button class="circlebtn"></button>
        <mat-form-field appearance="outline" floatLabel="always">
          <mat-label>Prefix</mat-label>
          <mat-select placeholder="Prefix">
            <mat-form-field appearance="outline" class="search"> <input matInput
                type="text" placeholder="Search">
              <mat-icon matPrefix>search</mat-icon>
            </mat-form-field>
            <mat-option *ngFor="let prefix of Prefix" [value]="prefix">
              {{prefix}}
            </mat-option>
          </mat-select>
          <mat-icon matIconSuffix style="color: red;">close</mat-icon>
        </mat-form-field>

        <mat-form-field appearance="outline" floatLabel="auto">
          <mat-label>Given Name</mat-label>
          <input matInput required>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Middle Name</mat-label>
          <input matInput>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Family Name</mat-label>
          <input matInput>
        </mat-form-field>

        <mat-form-field appearance="outline" floatLabel="always">
          <mat-label>Reference</mat-label>
          <mat-select placeholder="Select Reference">
            <mat-form-field appearance="outline" class="search"> <input matInput
                type="text" placeholder="Search">
              <mat-icon matPrefix>search</mat-icon>
            </mat-form-field>
            <mat-option
              *ngFor="let reference of Reference">{{reference}}</mat-option>
          </mat-select>
          <mat-icon matIconSuffix style="color: red;">close</mat-icon>
        </mat-form-field>

        <button mat-button class="icons"
          (click)="editRef()"><mat-icon>edit_note</mat-icon></button>
      </div>
    </div>

    <!--Second Row-->
    <div class="row" class="personal">
      <mat-form-field appearance="outline" floatLabel="always">
        <mat-label>Events</mat-label>
        <mat-select placeholder="Select Events">
          <mat-form-field appearance="outline" class="search"> <input matInput
              type="text" placeholder="Search">
            <mat-icon matPrefix>search</mat-icon>
          </mat-form-field>
          <mat-option *ngFor="let event of Events">{{event}}</mat-option>
        </mat-select>
        <mat-icon matIconSuffix style="color: red;">close</mat-icon>

      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Significant</mat-label>
        <input matInput [matDatepicker]="datePicker">
        <mat-datepicker-toggle [for]="datePicker"
          matSuffix></mat-datepicker-toggle>
        <mat-datepicker #datePicker></mat-datepicker>
      </mat-form-field>

      <mat-form-field appearance="outline" floatLabel="always">
        <mat-label>Gender</mat-label>
        <mat-select placeholder="Select Gender">
          <mat-form-field appearance="outline" class="search"> <input matInput
              type="text" placeholder="Search">
            <mat-icon matPrefix>search</mat-icon>
          </mat-form-field>
          <mat-option *ngFor="let gender of Gender">{{gender}}</mat-option>
        </mat-select>
        <mat-icon matIconSuffix style="color: red;">close</mat-icon>
      </mat-form-field>
    </div>

    <!--Third Row-->

    <div class="row" class="personal">
      <mat-form-field appearance="outline" floatLabel="always">
        <mat-label>Locations</mat-label>
        <mat-select placeholder="Select Locations">
          <mat-form-field appearance="outline" class="search"> <input matInput
              type="text" placeholder="Search">
            <mat-icon matPrefix>search</mat-icon>
          </mat-form-field>
          <mat-option
            *ngFor="let location of Location">{{location}}</mat-option>
        </mat-select>
        <mat-icon matIconSuffix style="color: red;">close</mat-icon>
      </mat-form-field>

      <button mat-button class="icons"
        (click)="editRef()"><mat-icon>edit_note</mat-icon></button>

      <mat-form-field appearance="outline" floatLabel="always">
        <mat-label>Occupation</mat-label>
        <mat-select placeholder="Select Occupation">
          <mat-form-field appearance="outline" class="search"> <input matInput
              type="text" placeholder="Search">
            <mat-icon matPrefix>search</mat-icon>
          </mat-form-field>
          <mat-option *ngFor="let occupation of Occupation"
            [value]="occupation">{{occupation}}</mat-option>
        </mat-select>

        <mat-icon matIconSuffix style="color: red;">close</mat-icon>
      </mat-form-field>

      <mat-form-field appearance="outline" floatLabel="always">
        <mat-label>Languange</mat-label>
        <mat-select placeholder="Select Languange">
          <mat-form-field appearance="outline" class="search"> <input matInput
              type="text" placeholder="Search">
            <mat-icon matPrefix>search</mat-icon>
          </mat-form-field>
          <mat-option *ngFor="let languange of Languange"
            [value]="languange">{{languange}}</mat-option>
        </mat-select>
        <mat-icon matIconSuffix style="color: red;">close</mat-icon>
      </mat-form-field>
      <button mat-button class="icons"><mat-icon>edit_note</mat-icon></button>

      <mat-form-field appearance="outline">
        <mat-label>Hobby</mat-label>
        <input matInput>
      </mat-form-field>
    </div>

    <!--Fourth Row-->
    <div class="row" class="personal">
      <mat-form-field appearance="outline" floatLabel="always">
        <mat-label>Tag</mat-label>
        <mat-select placeholder="Select Tag">
          <mat-form-field appearance="outline" class="search"> <input matInput
              type="text" placeholder="Search">
            <mat-icon matPrefix>search</mat-icon>
          </mat-form-field>
          <mat-option *ngFor="let tag of Tag">{{tag}}</mat-option>
        </mat-select>
        <mat-icon matIconSuffix style="color: red;">close</mat-icon>
      </mat-form-field>

      <button mat-button class="icons"><mat-icon>edit_note</mat-icon></button>

      <mat-form-field appearance="outline">
        <mat-label>Notes</mat-label>
        <input matInput>
      </mat-form-field>
    </div>

    <!--Fifth Row-->
    <div class="row">
      <div class="col-md-6">
        <mat-form-field appearance="outline" floatLabel="always">
          <mat-label>Groups</mat-label>
          <input matInput hidden>
         
          <div class="row"   style="margin-left: 1px;" >   
          <mat-form-field appearance="outline" floatLabel="always">
            <mat-label>Groups</mat-label>
            <mat-select placeholder="Select Groups">
              <mat-form-field appearance="outline" class="search"> <input
                  matInput type="text" placeholder="Search">
                <mat-icon matPrefix>search</mat-icon>
              </mat-form-field>
              <mat-option *ngFor="let group of Group">{{group}}</mat-option>
            </mat-select>
          </mat-form-field>
         </div>

          <div class="row"  style="margin-left: 1px;" >
            <mat-form-field appearance="outline" floatLabel="always">
              <mat-label>Mobile</mat-label>
              <mat-select placeholder="Select Mobile" style="margin-left: 5px;"></mat-select>
            </mat-form-field>
          </div>
 
         <button   class="btncheck"><mat-icon>check</mat-icon></button>
          </mat-form-field>
         
      </div>


      <div class="col-md-6">
        <mat-form-field appearance="outline" floatLabel="always">
          <mat-label>Mobile Number & Email Id</mat-label>
          <input matInput hidden>
          <div class="personal">
            <mat-form-field appearance="outline">
              <mat-label>Email</mat-label>
              <input matInput>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Select Type</mat-label>
              <mat-select>
                <mat-option *ngFor="let emailtype of Email" [value]="emailtype">{{emailtype}}</mat-option>
              </mat-select>
            </mat-form-field>
            <button mat-button class="mobn" style="margin-left: 10px;">Add</button>
          </div>

          <div class="personal">
            <mat-form-field appearance="outline">
              <mat-label>Mobile</mat-label>
              <input matInput>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Select Type</mat-label>
              <mat-select>
                <mat-option *ngFor="let mobiletype of Mobile" [value]="mobiletype">{{mobiletype}}</mat-option>
              </mat-select>
            </mat-form-field>
            <button mat-button class="mobn" style="margin-left: 10px;">Add</button>
          </div>


         
        </mat-form-field>
      </div>
       </div>

      

    <div class="row">
      <mat-form-field appearance="outline" floatLabel="always">
        <mat-label>Address</mat-label>
        <input matInput hidden>
        <div class="personal"  style="margin-left: 5px;">
          <mat-form-field appearance="outline">
            <mat-label>Address</mat-label>
            <input matInput>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>City</mat-label>
            <input matInput>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>State</mat-label>
            <input matInput>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Country</mat-label>
            <input matInput>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Pin Code</mat-label>
            <input matInput>
          </mat-form-field>

          <mat-form-field appearance="outline" floatLabel="always">
            <mat-label>Type</mat-label>
            <mat-select placeholder="Select Type">
              <mat-form-field appearance="outline" class="search"> <input
                  matInput type="text" placeholder="Search">
                <mat-icon matPrefix>search</mat-icon>
              </mat-form-field>
              <mat-option
                *ngFor="let address of AddressType">{{address}}</mat-option>
            </mat-select>
          </mat-form-field>

          <button mat-button class="mobn" style="margin-left: 10px;">Add</button>
        </div>

        
      </mat-form-field>
    </div>

    <!-------------Imp Code-->

    <div class="row">
      <mat-form-field appearance="outline" floatLabel="always">
        <mat-label>Organization And Website

        </mat-label>
        <input matInput hidden>

         <div class="row">     

          <div class="col-md-6">
            <div class="row">
              <div class="col-md-5">
                <mat-form-field appearance="outline" >
                  <input matInput>
                  <mat-label>Organization Name</mat-label>
                </mat-form-field>

              </div>

              <div class="col-md-5">
                <mat-form-field appearance="outline" floatLabel="always">
                  <mat-label>Type</mat-label>
                  <mat-select placeholder="Select Type">
                    <mat-option *ngFor="let orgurl of Organization" [value]="orgurl">{{orgurl}}</mat-option>
                  </mat-select>
                </mat-form-field>

              </div>

              <div class="col-md-2">
                <button mat-button (click)="organizationadd()" class="mobn" style="margin-left: 10px;">Add</button>
              </div>
             
              <div  [formGroup]="orgform"   class="col-md-12"  *ngIf="organizationUrl" >
                <table class="table table-responsive table-bordered" style="border: #f00;" >
                  <thead formArrayName="itemsorg" class="tablehead">
                    <th>Value</th>
                    <th>Type</th>
                    <th>Action</th>
                  </thead>
  
                  <tbody *ngFor="let item of itemsorg.controls; let i=index" class="tablebody">
                    <tr>
                        <td></td>
                        <td></td>
                        <td><i class="fa fa-close" (click)="deletewebItems(i)" style="color: #f00"></i></td>
                      </tr>
                    
                  </tbody>
                </table>
                <!-- <div [formGroup]="form1" class="addbtnclick" >
                  <div formArrayName="items1" >
                    <input placeholder="Value" class="titlestyle">
                    <input placeholder="Type" class="titlestyle">
                    <input placeholder="Action" class="titlestyle">
                    <div *ngFor="let item of items1.controls;let i=index"
                      formGroupName="i" class="fields">
                      <div>
                        <input style="border-color: red;" formControlName="name1"
                          type="text" />
                      </div>
                      <div>
                        <input style="border-color: red;" formControlName="age1"
                          type="text" />
                      </div>
                      <div>
                        <input style="border-color: red;"
                          (click)="deleteItems1(i)">
                      </div>
                    </div>
                  </div>
                </div> -->
              </div>
                
              </div>  
          

          </div>

          <div class="col-md-6">
            <div class="row">
              <div class="col-md-5">
                <mat-form-field appearance="outline" >
                  <input matInput>
                  <mat-label>Web Url</mat-label>
                </mat-form-field>

              </div>

              <div class="col-md-5">
                <mat-form-field appearance="outline" floatLabel="always">
                  <mat-label>Type</mat-label>
                  <mat-select placeholder="Select Type" >
                    <mat-option *ngFor="let webitem of Websitetype" [value]="webitems">{{webitems}}</mat-option>
                  </mat-select>
                </mat-form-field>

              </div>

              <div class="col-md-2">
                <button mat-button (click)="websiteadd()" class="mobn" style="margin-left: 10px;">Add</button>
              </div>
               
            </div>
            <div  [formGroup]="webform"   class="col-md-12"  *ngIf="websiteUrl" >
              <table class="table table-responsive table-bordered" class="table" style="border: #f00;">
                <thead formArrayName="webitems" class="tablehead">
                  <th>Value</th>
                  <th>Type</th>
                  <th>Action</th>
                </thead>  

                <tbody *ngFor="let item of webitems.controls; let i=index" class="tablebody">
                  <tr>
                      <td></td>
                      <td></td>
                      <td><i class="fa fa-close" (click)="deleteorgItems(i)"></i></td>
                    </tr>
                  
                </tbody>
              </table>

          </div>



        </div>
        </div>

      </mat-form-field>
    </div>



    <!-- <div class="row">
      <mat-form-field appearance="outline" floatLabel="always">
        <mat-label>Organization And Website</mat-label>
        <input matInput hidden>

         <div class="row">     

          <div class="col-md-6">
            <div class="row">
              <div class="col-md-5">
                <mat-form-field appearance="outline" >
                  <input matInput>
                  <mat-label>Organization Name</mat-label>
                </mat-form-field>

              </div>

              <div class="col-md-5">
                <mat-form-field appearance="outline" floatLabel="always">
                  <mat-label>Type</mat-label>
                  <mat-select placeholder="Select Type">
                    <mat-option *ngFor="let organizationname of Organization" [value]="organizationname">{{organizationname}}</mat-option>
                  </mat-select>
                </mat-form-field>

              </div>

              <div class="col-md-2">
                <button mat-button (click)="organizationadd()" class="mobn">Add</button>
              </div>
             
              <div  [formGroup]="orgform"   class="col-md-12"  *ngIf="organizationUrl" >
                <table class="table table-responsive table-bordered"    >
                  <thead formArrayName="itemsorg" class="tablehead">
                    <th>Value</th>
                    <th>Type</th>
                    <th>Action</th>
                  </thead>
  
                  <tbody *ngFor="let item of itemsorg.controls; let i=index" style="border-color: red;">
                    <tr>
                        <td></td>
                        <td></td>
                        <td><i class="fa fa-close" (click)="deleteorgItems(i)" style="color: red;"></i></td>
                      </tr>
                  
                  </tbody>
                </table>
                
              </div>
                
              </div>  
          

          </div>

          <div class="col-md-6">
            <div class="row">
              <div class="col-md-5">
                <mat-form-field appearance="outline" >
                  <input matInput>
                  <mat-label>Website Url</mat-label>
                </mat-form-field>

              </div>

              <div class="col-md-5">
                <mat-form-field appearance="outline" floatLabel="always">
                  <mat-label> Type </mat-label>
                  <mat-select placeholder="Select Type">
                    <mat-option *ngFor="let websiteurl of Websitetype" [value]="websiteurl">{{websiteurl}}</mat-option>
                  </mat-select>
                </mat-form-field>

              </div>

              <div class="col-md-2">
                <button mat-button (click)="websiteadd()" class="mobn">Add</button>
              </div>
               
            </div>
            <div  [formGroup]="webform"   class="col-md-12"  *ngIf="websiteUrl" >
              <table class="table table-responsive table-bordered">
                <thead formArrayName="webitems" class="tablehead">
                  <th >Value</th>
                  <th>  </th>
                  <th> </th>
                </thead>

                <tbody *ngFor="let item of webitems.controls; let i=index" class="closeicon">
                  <tr>
                      <td></td>
                      <td></td>
                      <td><i class="fa fa-close" (click)="deletewebItems(i)" class="close"></i></td>
                    </tr>
                  
                </tbody>
              </table>

          </div>



        </div>
        </div>

      </mat-form-field>
    </div> -->

    <!-- <button (click)="deleteItems(i)">Delete</button> -->
    <!--Seventh Row-->

    <!--Eight-->
    <div class="row" class="check">
      <mat-checkbox>Individual</mat-checkbox>
      <mat-checkbox>Non-Individual</mat-checkbox>
      <mat-checkbox>Representative</mat-checkbox>
      <mat-checkbox>Staff</mat-checkbox>
      <mat-checkbox>Personal</mat-checkbox>
      <mat-checkbox>Office</mat-checkbox>
    </div>

    <button mat-button class="btnsubmit">Submit</button>
 
  </mat-card-content>
</mat-card>

<!-- <div [formGroup]="form" >
                    
                    <div formArrayName="items" > 
                      <div *ngFor="let item of items.controls ;  let i = index" [formGroupName]="i" style="display: flex;">
                          <input placeholder="name" formControlName="name" type="text"/>
                        <input placeholder="age" formControlName="age" type="text"/>
                        <button (click)="deleteItems(i)">Delete</button>
                      </div>
                    </div>
                  </div> -->

<!-- <table *ngIf="websiteUrlShow">
                      <thead>
                        <tr>
                          <td>value</td>
                          <td>Type</td>
                          <td>Action</td>
                        </tr>
                      </thead>
                      <tbody>
                        
                        <tr>
                          <td></td>
                          <td></td>
                          <td></td>
                        </tr>
                      </tbody>
                    </table> -->